<%- include("../shared/header", {title: "Startsida"}); %>

<img src="/img/scooter.png" alt="Scooter">

<p class="greeting">
    Detta är webbgränssnittet för admin. Här kan du se alla kunder, cyklar, laddstationer och parkeringszoner i systemet.
    Du kan även redigera informationen som finns om varje kund.
</p>

<%- include("../shared/footer"); %>
