<%- include("../shared/header", {title: "Karta"}); %>

    <h1>Karta</h1>

    <ul>
        <li>Blå ikon: Cykel</li>
        <li>Grå ikon: Laddstation</li>
        <li>Röd cirkel: Parkeringszon</li>
    </ul>
    <div id="map"></div>
</body>

<script src="/js/map.js"></script>


<%- include("../shared/footer"); %>
