<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel="icon" href="/favicon.ico">

<header>
    <nav>
        <a href="/">Hem</a> |
        <a href="/customer/history">Historik</a> |
        <a href="/customer/payment">Saldo</a>
    </nav>
</header>
