<%- include("headerCustomer", {title: "Hem"}); %>

<h1>V채lkommen till Bukstar, vi kan kaffe!</h1>

<p>Sedan 2021 har vi varit experter n채r det kommer till kaffe.</p>

<ul>
    <li><a href="category">Visa v책ra olika kategorier</a></li>
    <li><a href="product">Visa v책ra olika produkter</a></li>

</ul>

<%- include("footerCustomer"); %>
