@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

nav {
    margin-top: 30px;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 1em;
    font-size: 1.4em;
}

nav a:visited {
    color: black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    margin-top: 50px;
    clear: left;
}

/* INDEX */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
}

.greeting {
    text-align: center;
    width: 600px;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

/* CUSTOMERS */
.client {
    border: 1px solid #8ca1d8;
    margin: auto;
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.edit {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    background-color: #8ca1d8;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#button {
    text-align: center;
    text-decoration: none;
    background-color: #8ca1d8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}

/* MAP */
#map {
    height: 500px;
}

.cluster-number {
    font-size: 40px;
    color: blue;
}
