<%- include("header", {title: "Pattern | Kund"}); %>

<h1>Välkommen!</h1>

<p class="welcome">Här kan du logga in med GitHub och se information om ditt konto.</p>

<a href="/customer/login" class="button">Logga in</a>

<%- include("footer"); %>