<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel="icon" href="/favicon.ico">

<header>
    <nav>
        <h2>Admin</h2>
        <a href="/">Startsida</a>
        <a href="/admin">Admin</a>
        <a href="/admin/clients">Kunder</a>
        <a href="/admin/extra">Extra sida för admin</a>
    </nav>
</header>