<%- include("header", {title: "Karta"}); %>

    <h1>Karta</h1>

    <div id="map"></div>
</body>

<script>
    map = L.map('map').setView([56.181932, 15.590525], 8);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: `&copy;
        <a href="https://www.openstreetmap.org/copyright">
        OpenStreetMap</a> contributors`
    }).addTo(map);


    var bikeIcon = L.icon({
        iconUrl: '/img/bikeIcon.png',

        iconSize:     [38, 55], // size of the icon
    });

    let bikes = <%-JSON.stringify(data1)%>;
    console.log(bikes);

    for (var place in bikes) {
        if (Object.prototype.hasOwnProperty.call(bikes, place)) {
            L.marker(bikes[place], {icon: bikeIcon}).addTo(map).bindPopup(place);
        }
    }

    var stationIcon = L.icon({
        iconUrl: '/img/stationIcon.png',

        iconSize:     [38, 55], // size of the icon
    });


    let stations = <%-JSON.stringify(data2)%>;
    console.log(stations);

    for (var place in stations) {
        if (Object.prototype.hasOwnProperty.call(stations, place)) {
            L.marker(stations[place], {icon: stationIcon}).addTo(map).bindPopup(place);
        }
    }
</script>


<%- include("footer"); %>