@import url("https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro");
@import './normalize.min.css';
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,700;1,300&display=swap");

.mapDiv {
  height: 200px;
  width: 200px;
}

.container {
  padding: 1rem;
  margin-top: 3.2rem;
  font-size: 1.2rem;
  /* background-image: url("./img/backround.png"); */
  min-height: 900px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.container p {
  line-height: 1.4;
  font-size: 1.2rem;
}

.container img {
  width: 100%;
}

.formdiv {
    align-content: center;
}

html {
  font-size: 100%;
  scrollbar-width: none;
}

.container {
  height: 60%;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 0;
  margin-bottom: 20%;
  z-index: 1;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

.bottom-nav {
  background-color: white;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  border-top: 1px solid #ccc;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  z-index: 2;
}

.active {
  border-bottom: 4px solid black;
}

.bottom-nav a {
  width: 40px;
  color: #3d3c3c;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
}

body {
  line-height: 1.4;
}

main {
  padding: 1.4rem 0.6rem;
}

h1,
h2,
h4 {
  margin-top: 0;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 2.8rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.4rem;
}

h4 {
  font-size: 1.4rem;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  font-family: "Open Sans Condensed";
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: center;
}

.hypertext {
  text-decoration: underline;
}

.button {
  color: #333;
  background-color: #fff;
  background-image: linear-gradient(#fff, #cccccc);
  border: 1px solid #cccccc;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  padding: 0.4rem 1rem;
  text-align: center;
  border-radius: 0.2rem;
  line-height: 1.4;
  width: 100%;
}

.button:hover {
  background-color: #b3b3b3;
  background-image: none;
}

.button:active {
  background-color: #a6a6a6;
  background-image: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

.full-width-button {
  width: 100%;
}

.blue-button {
  color: #fff;
  background-color: #0074d9;
  background-image: linear-gradient(#0074d9, #003d73);
  border-color: #003d73;
}

.blue-button:hover {
  background-color: #002240;
  background-image: none;
}

.blue-button:active {
  background-color: #001527;
  background-image: none;
}

.red-button {
  color: #fff;
  background-color: #ff4136;
  background-image: linear-gradient(#ff4136, #cf0b00);
  border-color: #cf0b00;
}

.red-button:hover {
  background-color: #9c0900;
  background-image: none;
}

.red-button:active {
  background-color: #830700;
  background-image: none;
}


#map { height: 480px; }