.bottom-nav {
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-top: 1px solid #ccc;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    z-index: 2;
}

.active {
    border-bottom: 4px solid black;
}

.bottom-nav a {
    width: 40px;

    color: rgb(61, 60, 60);
}

.material-icons {
    display: inline-flex;
    vertical-align: top;
}
